flows.json
[{"id":"c82ae45.829d918","type":"tab","label":"dashboard","disabled":false,"info":""},{"id":"37fed48.5dcceac","type":"mqtt in","z":"c82ae45.829d918","name":"","topic":"demo/sky/service/latency","qos":"2","datatype":"json","broker":"aca27d4c.6ea5a","x":210,"y":200,"wires":[["4755018e.276af8","797a278a.c9f52"]]},{"id":"4755018e.276af8","type":"debug","z":"c82ae45.829d918","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":100,"wires":[]},{"id":"797a278a.c9f52","type":"template","z":"c82ae45.829d918","name":"Sort Messages by Country ","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.countryCode}}","output":"str","x":480,"y":320,"wires":[["4b392809.e15e1","33f144bb.894b64"]]},{"id":"4b392809.e15e1","type":"change","z":"c82ae45.829d918","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.latency","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":400,"wires":[["2a20d275.9de3fe"]]},{"id":"33f144bb.894b64","type":"counter","z":"c82ae45.829d918","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":520,"y":200,"wires":[["cacab972.6acc88"]]},{"id":"cacab972.6acc88","type":"change","z":"c82ae45.829d918","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":260,"wires":[["73ef5cd4.bba874","c3580c5c.29a2e"]]},{"id":"d1a7a28d.394b6","type":"change","z":"c82ae45.829d918","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":120,"wires":[["33f144bb.894b64"]]},{"id":"2a20d275.9de3fe","type":"moving-average","z":"c82ae45.829d918","name":"","amount":"100","weight":"cumulative","x":520,"y":400,"wires":[["34f5bbce.e9ac0c"]]},{"id":"72be6d8a.7e23d4","type":"mqtt out","z":"c82ae45.829d918","name":"","topic":"demo/sky/service/update","qos":"0","retain":"","broker":"aca27d4c.6ea5a","x":230,"y":620,"wires":[]},{"id":"4007f5e1.a91274","type":"function","z":"c82ae45.829d918","name":"Add current epoch timestamp ","func":"msg.payload.time = Date.now() \nreturn msg;","outputs":1,"noerr":0,"x":230,"y":560,"wires":[["72be6d8a.7e23d4"]]},{"id":"12b0a346.d3b475","type":"template","z":"c82ae45.829d918","name":"Extract Geo and Org info from global variables","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"publishregion\":\"{{global.regionName}}\",\"publishcountry\":\"{{global.countryCode}}\",\"publishorg\":\"{{global.org}}\"}","output":"json","x":260,"y":500,"wires":[["4007f5e1.a91274"]]},{"id":"e5db468a.5e064","type":"inject","z":"c82ae45.829d918","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":120,"wires":[["12b0a346.d3b475"]]},{"id":"dc36427d.6962d","type":"ui_button","z":"c82ae45.829d918","name":"","group":"3b3e9651.ba8f3a","order":1,"width":4,"height":1,"passthru":false,"label":"Publish Update","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":80,"wires":[["12b0a346.d3b475"]]},{"id":"73ef5cd4.bba874","type":"ui_chart","z":"c82ae45.829d918","name":"","group":"3b3e9651.ba8f3a","order":3,"width":10,"height":10,"label":"Messages Received","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":820,"y":360,"wires":[[]]},{"id":"34f5bbce.e9ac0c","type":"ui_chart","z":"c82ae45.829d918","name":"","group":"3b3e9651.ba8f3a","order":4,"width":10,"height":10,"label":"Average Latency in milliseconds","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":790,"y":480,"wires":[[]]},{"id":"c3580c5c.29a2e","type":"debug","z":"c82ae45.829d918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":200,"wires":[]},{"id":"82594f3f.5a0698","type":"ui_button","z":"c82ae45.829d918","name":"","group":"3b3e9651.ba8f3a","order":1,"width":4,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[ ]","payloadType":"json","topic":"","x":370,"y":40,"wires":[["d1a7a28d.394b6","73ef5cd4.bba874","34f5bbce.e9ac0c"]]},{"id":"aca27d4c.6ea5a","type":"mqtt-broker","z":"","name":"","broker":"demo.mqtttest.com","port":"8883","tls":"a4089a2e.e45d68","clientid":"$(CLIENTID)","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"demo/security/clientstate/connected","birthQos":"0","birthRetain":"false","birthPayload":"$(CLIENTID)","closeTopic":"demo/security/clientstate/closed","closeQos":"0","closeRetain":"false","closePayload":"$(CLIENTID)","willTopic":"demo/security/clientstate/lastwill","willQos":"0","willRetain":"false","willPayload":"$(CLIENTID)"},{"id":"3b3e9651.ba8f3a","type":"ui_group","z":"","name":"Election Result Demo","tab":"94828f3e.f0e87","order":1,"disp":true,"width":"20","collapse":false},{"id":"a4089a2e.e45d68","type":"tls-config","z":"","name":"demo.mqtttest.com","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"demo.mqtttest.com","verifyservercert":true},{"id":"94828f3e.f0e87","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
